<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ParseAppID</key>
	<string>WKvDyqa7Hs23bkdbhPqAM4eadylYMxRlKTboJ56G</string>
	<key>ParseClientKey</key>
	<string>JhKakKAmnmp5Zt1dcrlXYtn4phHe9yf6Z3GmxuTp</string>
</dict>
</plist>
